:root {
  --color-black: #000;
  --color-dark: #333;
  --color-light-gray: #eee;
  --color-white: #fff;
  --color-mk-dark: #424542;
  --color-mk-darkblue: #424466;
  --color-mk-yellow: #f5d100;
  --color-mk-red: #cd0e03;
  --color-mk-green: #00d600;
  --color-char-green: #21aa21;
  --color-mk-blue: #0431f9;
  --color-mk-gray: #efefef;
}
